<h1>Create New Listing</h1>
<div class="form">
  <form action="/create" method="POST">
    <label for="name">Car Title</label>
    <input type="text" id="name" name="name" placeholder="Make + Model">
    <label for="description">Description</label>
    <textarea id="description" name="description" placeholder="Description of the car"></textarea>
    <label for="image">Image Url</label>
    <input type="text" id="image" name="imageUrl" placeholder="File name nad extension: 'name.jpg' etc.">
    <label for="price">Price</label>
    <input type="number" name="price" id="price" placeholder="1000">    
    <input type="submit" value="Create">
  </form>
</div>